

.card-image-container{
  height: 12em;
}

.card-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-title{
  color: rgb(97, 97, 97);
}

.card-title:hover{
  text-decoration: underline;
}